/******************************************
General
*******************************************/

body {
	font-family: 'Alegreya Sans', sans-serif;
}

#container {
	max-width: 940px;
	margin: -5px auto;
	padding: 0 5%;
	clear: both;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

h3 {
	margin: 1em 0 1em 0;
}

h4 {
	margin: 0;
}



/******************************************
Heading
*******************************************/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

#logo {
	text-align: center;
	margin: 0;
}

h1 {
	font-family: 'Quintessential', sans-serif;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}

h2 {
	font-size: 0.75em;
	margin: -5px 0 0;
	font-weight: normal;
}



/******************************************
Navigation
*******************************************/

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}



/******************************************
Gallery Slider
*******************************************/
#promo, #promo li {
	margin:0 0 2.5% 0;
/*  padding:0;*/
  list-style-type:none;
  clear: both;
}

#promonav {
  padding: 4px;
  background: #eee;
  border:1px solid #e0e0e0;
  margin-top: 1px;
} 

/* Keep the next button at the right edge */
#promonav .next {
  float:right;
}

/* Link styles in promo navigation  */
#promonav a {
  padding:0 3px;
  border:1px solid #eee;
  text-decoration:none;
  outline:0;
  color:#777;
}
 
/* Style applied on mouseover of promo navigation link(s) */
#promonav a:hover {
  color:#000;
}

/* The index automatically gets an activeSlide class, use this to indicate the current slide */
#promoindex a.activeSlide {
  font-weight:bold;
  background:#fff;
  border-color:#ccc;
}

/******************************************
Footer
*******************************************/

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	color: #ccc;
	width: 100%;
	margin: 0;
	padding: 0;
}



/******************************************
Page: About
*******************************************/

.list-left {
	float: left;
	width: 45%;
	margin: 2.5%;
}

.list-right {
	float: right;
	width: 45%;
	margin: 2.5%;
}

#about-emfr {
	clear: both;
}



/******************************************
Page: Clients
*******************************************/




/******************************************
Page: MFR
*******************************************/




/******************************************
Page: Contact
*******************************************/

.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}

.contact-info li.mail a{
	background-image: url('../img/mail.png');
}

.contact-info li.phone a{
	background-image: url('../img/phone.png');
}



/******************************************
Colors
*******************************************/

/*Site Body Styling Rules*/
body {
	background-color: #fff;
	color: #999;
}

#container {
	background-color: #fff;
}

/*GEggplant Header*/
header {
	background-color: #836372;
	border-color: #73495F;
}

/*Nav Background on Mobile Devices*/
nav {
	background: #73495F;
}

/*Logo Text*/
h1, h2 {
	color: #fff;
}

a {
	color: #836372;
}

/*Navigation Link*/
nav a, nav a:visited {
	color: #fff;
}

/*Selected Nav Link*/
nav a.selected, nav a:hover {
	color: #543546;
}

footer {
	background-color: #836372;
	border-color: #73495F;
}


